body {
    background-color: oldlace;
}

header {
    min-height: 120px;
    top: 0;
    background-color: blue;

}

h1 {
    padding-top: 15px;
    padding-left: 15px;
    color: azure;
}

footer {
    min-height: 110px;
    text-align: center;
}

h2 {
    text-decoration: underline;
    margin-top: 10px; 
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav {
    background-color: darkgreen;
}

.nav-item {
    display: inline-block;
    margin-left: 25px;
    color: azure;
}

.current {
    text-shadow: 0 0 10px red;
}

.project {
    width: 80%;
    border-style: solid;
    border-color: black;
    border-width: thick;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portrait {
    max-height: 75px;
}

.contact-form {
    margin-top: 15px;
    margin-bottom: 15px;
}
